@tailwind base;
@tailwind components;
@tailwind utilities;

#Hero {
  background-image: url("./assets/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #Hero {
    background-image: url("./assets/images/pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
